.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

.landing-page__welcome {
  max-width: 730px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #373f41;
}

.landing-page__button {
  margin-top: 4.18rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-build {
  width: 100%;
  height: 100%;
}

.popup {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #323232;
  border: 1px solid #323232;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

// Media queries for responsiveness
@media screen and (max-width: 767px) {
  .landing-page__welcome {
    font-size: 28px;
    line-height: 32px;
  }

  .landing-page__button {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .landing-page__welcome {
    font-size: 24px;
    line-height: 28px;
  }

  .popup {
    width: 90%;
    height: auto;
  }
}
