.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  background-color: rgba(47, 128, 237, 0.1);
}
.landing-page-creation {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: rgba(47, 128, 237, 0.1);
}

.landing-page__welcome {
  max-width: 730px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #373f41;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #373f41;
  animation: fadeInUp 1s ease-out;
}

.landing-page__button {
  margin-top: 4.18rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-build {
  width: 70%;
  height: 70%;
  animation: pulse 2s infinite alternate; /* Example animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #323232;
  border: 1px solid #323232;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

// Media queries for responsiveness
@media screen and (max-width: 767px) {
  .landing-page__welcome {
    font-size: 28px;
    line-height: 32px;
  }

  .landing-page__button {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .landing-page__welcome {
    font-size: 24px;
    line-height: 28px;
  }

  .popup {
    width: 90%;
    height: auto;
  }
}
