:host {
  font-family: Inter;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dialog-container {
  position: relative;
}

.close-button {
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 10;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
}

mat-form-field {
  width: 100%;
}

.toggle-priority {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 8px;

  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 17.3264px;
    line-height: 25px;

    color: #323232;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(255, 69, 129, 0.9);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.save-button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

input::placeholder,
textarea::placeholder {
  font-family: "Inter";
  font-weight: 500;
}

.form-field {
  width: 100%;
  margin-bottom: 8px;
}

.select-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}
