<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,200" />
<div class="dialog-container">
  <div class="center" *ngIf="loading">
    <app-circle-loader class="loading"></app-circle-loader>
  </div>
  <mat-dialog-content *ngIf="!loading">
    <h1 mat-dialog-title *ngIf="ticketMode === ticketModeEnum.Create">Create a new ticket</h1>
    <h1 mat-dialog-title *ngIf="ticketMode === ticketModeEnum.View">View a ticket</h1>
    <h1 mat-dialog-title *ngIf="ticketMode === ticketModeEnum.Edit">Edit a ticket</h1>
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <div class="flexBlock">
        <mat-form-field appearance="outline" class="difficulty" [ngClass]="{'view': ticketMode === ticketModeEnum.View}">
          <mat-label>Complexity</mat-label>
          <mat-select formControlName="complexity">
            <mat-option *ngFor="let difficulty of difficultyEnum | keyvalue | sortBy:'asc':'value':'order'" [value]="difficulty.value.text">{{ difficulty.value.text }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [ngClass]="'status_' + getKeyByValue(ticketForm.controls['status'].value)" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" [ngClass]="{'view': ticketMode === ticketModeEnum.View, 'spe': true}" required>
            <mat-select-trigger>
              {{ticketForm.controls['status'].value}}
            </mat-select-trigger>
            <mat-option *ngFor="let status of statusEnum | keyvalue | sortBy:'asc':'value':'order' " [value]="status.value.text" [ngClass]="'statusOption_' + status.key">
              <div class="optionText">
                <mat-icon *ngIf="status.value.text === ticketForm.controls['status'].value" class="optionIcon">done</mat-icon>
                {{ status.value.text }}
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" [ngClass]="{'view': ticketMode === ticketModeEnum.View}">
          <mat-label>Issue title</mat-label>
          <input
            matInput
            formControlName="title"
            placeholder="Issue title"
            [attr.cdkFocusInitial]="ticketMode !== ticketModeEnum.View ? '' : null"
          />
          <mat-error *ngIf="ticketForm.controls['title'].hasError('required') && ticketForm.controls['title'].touched">
            Issue title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group header-content">
        <mat-form-field appearance="outline" [ngClass]="{'view': ticketMode === ticketModeEnum.View}">
          <mat-label>Add description...</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Add description..."
            maxlength="280"
            style="min-height: 101px; resize: none;"
          ></textarea>
          <mat-hint align="end">
            {{ ticketForm.controls["description"].value.length }}/280
          </mat-hint>
        </mat-form-field>

        <div class="impact-section">
          <div class="impact-label"><span class="material-symbols-outlined">offline_bolt</span>Impact</div>
          <div class="impact-container" #impactContainer (click)="ticketMode !== ticketModeEnum.View" [attr.id]="ticketMode !== ticketModeEnum.View ? 'impact-container-editor' : null">
            <div *ngFor="let impact of impacts; let i = index" class="impact-item" [ngStyle]="{'background-color': impact.color}" >
              {{ impact.name }}
              <span class="delete-icon" *ngIf="ticketMode !== ticketModeEnum.View && showImpactDropdown" (click)="deleteImpact(i)">x</span>
            </div>
            <input *ngIf="ticketMode !== ticketModeEnum.View && impacts.length < 4" #newImpactInput class="new-input-impact"
              (keyup)="checkImpactExists(newImpactInput.value);">
          </div>
          <div class="impact-dropdown" #impactDropdown *ngIf="showImpactDropdown && ticketMode !== ticketModeEnum.View">
            <div class="dropdown-title">Select an option or create one</div>
            <div cdkDropList (cdkDropListDropped)="onDrop($event)">
              <div *ngIf="createImpactPreview && showPreview" class="impact-item-menu" (click)="handleImpactPreview()">
                <span>
                  <span [ngStyle]="{'margin-right': '8px'}" *ngIf="previewMenuItem === 'Create'">Create</span>
                  <span [ngStyle]="{'margin-right': '8px'}" *ngIf="previewMenuItem === 'Select'">Select</span>
                  <span class="impact-name-menu" [ngStyle]="{'background-color': previewColor}">{{ createImpactPreview }}</span>
                </span>
              </div>
              <div *ngFor="let impact of impacts; let i = index" class="impact-item-menu">
                <div class="impact-content">
                  <span cdkDrag>
                    <mat-icon class="drag-icon">drag_indicator</mat-icon>
                    <span class="impact-name-menu" [ngStyle]="{'background-color': impact.color}">{{ impact.name }}</span>
                  </span>
                  <mat-icon [matMenuTriggerFor]="impactMenu" class="menu-icon">more_vert</mat-icon>
                </div>
                <mat-menu #impactMenu="matMenu" class="custom-mat-menu">
                  <button mat-menu-item (click)="deleteImpact(i)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item *ngFor="let colorKey of colorKeys" (click)="changeImpactColor(impact, colorMap[colorKey])">
                    <span class="color-box" [ngStyle]="{'background-color': colorMap[colorKey]}"></span>
                    <span>{{ colorKey }}</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="toggle-priority">
          <label class="switch">
            <input type="checkbox" formControlName="priority" />
            <span class="slider round"></span>
          </label>
          <span *ngIf="ticketForm.controls['priority'].value; else notImportant">This item is a <strong>must have</strong></span>
          <ng-template #notImportant>
            <span>This item is a <strong>must have</strong></span>
          </ng-template>
        </div>
      </div>
      <ng-container *ngIf="ticketMode !== ticketModeEnum.View; else linkView">
        <div class="form-group editor-view link-edit">
          <mat-form-field appearance="outline">
            <mat-label>Link</mat-label>
            <input matInput formControlName="link" placeholder="Paste a link" />
            <mat-error *ngIf="ticketForm.controls['link'].hasError('url') && ticketForm.controls['link'].touched">
              Invalid URL
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-template #linkView>
        <div class="form-group link-readonly">
          <mat-icon matPrefix>link</mat-icon>
          <mat-label>
            <a [href]="ticketForm.controls['link'].value" target="_blank" tabindex="-1">Link to additional information</a>
          </mat-label>
        </div>
      </ng-template>
      <div class="save-button" *ngIf="ticketMode !== ticketModeEnum.View">
        <app-custom-button (click)="onDelete()" *ngIf="ticketMode === ticketModeEnum.Edit" type="submit" buttonType="cancel-button" [width]="134" [height]="44" [disabled]="ticketForm.invalid || loading">Delete</app-custom-button>
        <app-custom-button type="submit" [width]="ticketMode === ticketModeEnum.Edit? 134 : 277" [height]="44" [disabled]="ticketForm.invalid || loading">Save</app-custom-button>
      </div>
    </form>
  </mat-dialog-content>
</div>
