<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,1,200" />
<div class="dialog-container">
  <app-circle-loader class="loading" *ngIf="loading"></app-circle-loader>
  <mat-dialog-content *ngIf="!loading">
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" (keydown)="preventFormSubmit($event)">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="title" placeholder="Issue title" [attr.cdkFocusInitial]="isEditorMode ? '' : null" style="resize: none;"></textarea>
          <mat-error *ngIf="ticketForm.controls['title'].hasError('required') && ticketForm.controls['title'].touched">
            Issue title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group header-content">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="description" placeholder="Add description..." maxlength="280" style="min-height: 120px; resize: none;" appClickableLinks></textarea>
          <mat-hint align="end">{{ ticketForm.controls['description'].value?.length || 0 }}/280</mat-hint>
        </mat-form-field>

        <div class="impact-section">
          <div class="impact-label"><span class="material-symbols-outlined">offline_bolt</span>Impact</div>
          <div class="impact-container" #impactContainer (click)="isEditorMode" [attr.id]="isEditorMode ? 'impact-container-editor' : null">
            <div *ngFor="let impact of impacts; let i = index" class="impact-item" [ngStyle]="{'background-color': impact.color}" >
              {{ impact.name }}
              <span class="delete-icon" *ngIf="isEditorMode && showImpactDropdown" (click)="deleteImpact(i)">x</span>
            </div>
            <input *ngIf="isEditorMode && impacts.length < 4" #newImpactInput class="new-input-impact" 
              (keyup)="checkImpactExists(newImpactInput.value);"
              (keyup.enter)="handleImpactPreview(); newImpactInput.value=''">
          </div>
          <div class="impact-dropdown" #impactDropdown *ngIf="showImpactDropdown && isEditorMode">
            <div class="dropdown-title">Select an option or create one</div>
            <div cdkDropList (cdkDropListDropped)="onDrop($event)">
              <div *ngIf="createImpactPreview && showPreview" class="impact-item-menu" (click)="handleImpactPreview()">
                <span>
                  <span [ngStyle]="{'margin-right': '8px'}" *ngIf="previewMenuItem === 'Create'">Create</span>
                  <span [ngStyle]="{'margin-right': '8px'}" *ngIf="previewMenuItem === 'Select'">Select</span>
                  <span class="impact-name-menu" [ngStyle]="{'background-color': previewBackgroundColor()}">{{ createImpactPreview }}</span>
                </span>
              </div>
              <div *ngFor="let impact of impacts; let i = index" class="impact-item-menu">
                <div class="impact-content">
                  <span cdkDrag>
                    <mat-icon *ngIf="isEditorMode" class="drag-icon">drag_indicator</mat-icon>
                    <span class="impact-name-menu" [ngStyle]="{'background-color': impact.color}">{{ impact.name }}</span>
                  </span>
                  <mat-icon [matMenuTriggerFor]="impactMenu" class="menu-icon">more_vert</mat-icon>
                </div>
                <mat-menu #impactMenu="matMenu" class="custom-mat-menu">
                  <!-- your menu items here -->
                  <button mat-menu-item (click)="deleteImpact(i)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item *ngFor="let colorKey of colorKeys" (click)="changeImpactColor(impact, colorMap[colorKey])">
                    <span class="color-box" [ngStyle]="{'background-color': colorMap[colorKey]}"></span>
                    <span>{{ colorKey }}</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="form-group">
        <div class="toggle-priority">
          <label class="switch">
            <input type="checkbox" formControlName="priority" />
            <span class="slider round"></span>
          </label>
          <span *ngIf="ticketForm.controls['priority'].value; else notImportant">This item is a <strong>must have</strong></span>
          <ng-template #notImportant>
            <span>This item is a <strong>must have</strong></span>
          </ng-template>
        </div>
      </div>
      <ng-container *ngIf="isEditorMode; else linkView">
        <div class="form-group editor-view">
          <mat-form-field appearance="outline">
            <input matInput formControlName="link" placeholder="Paste a link" />
            <mat-icon matPrefix>link</mat-icon>
            <mat-error *ngIf="ticketForm.controls['link'].hasError('url') && ticketForm.controls['link'].touched">
              Invalid URL
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-template #linkView>
        <div class="form-group link-readonly">
          <mat-icon matPrefix>link</mat-icon>
          <mat-label>
            <a [href]="ticketForm.controls['link'].value" target="_blank" tabindex="-1">Link to additional information</a>
          </mat-label>
        </div>
      </ng-template>
      <div class="save-button" *ngIf="isEditorMode">
        <app-custom-button type="submit" [width]="277" [height]="44" [disabled]="ticketForm.invalid || loading || !isEditorMode">Save</app-custom-button>
      </div>
    </form>
    <button mat-icon-button class="delete-button" *ngIf="isEditorMode" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-content>
</div>
