:host {
  font-family: Inter;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  width: 100%;
}

mat-dialog-content {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dialog-container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  flex-flow: row wrap;
}

.form-group:nth-child(2) {
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.form-group:nth-child(4) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  input {
    height: 20px;
    padding: 0.25rem;
    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 90, 160, 0.3);
      background-color: rgba(0, 90, 160, 0.05);
    }
  }
}

mat-form-field,
.form-group {
  width: 100%;
  position: relative;
  animation: slideInLeft ease 0.5s;
  -webkit-animation: slideInLeft ease 0.5s;
  -moz-animation: slideInLeft ease 0.5s;
  -o-animation: slideInLeft ease 0.5s;
  -ms-animation: slideInLeft ease 0.5s;
}

.form-group input {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.10395822674036026px;
}

mat-hint {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.toggle-priority {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 8px;

  span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 17.3264px;
    line-height: 25px;
    color: #323232;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0;
  bottom: -1.9px;
  background-color: white;
  transition: 0.4s;
  border: 1px solid #b2b2b2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

input:checked + .slider {
  background-color: rgba(255, 69, 129, 0.9);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 1.5rem 0 0.7rem 0;
  color: rgba(58, 70, 80, 1);
}

input::placeholder,
textarea::placeholder {
  font-family: "Inter";
  font-weight: 500;
}

.form-field {
  width: 100%;
  margin-bottom: 8px;
}

.select-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.link-readonly {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a {
    text-decoration: none;
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.10395822674036026px;
    text-align: center;
  }
  mat-icon {
    font-size: 25px;
    margin-left: 0.7rem;
    margin-right: 0.6rem;
  }
}

.delete-icon {
  cursor: pointer;
  margin-left: 2px;
  margin-top: -2px;
  font-size: 14px;
  font-weight: bold;
}

// Impact section styles
.impact-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 14px;
  gap: 3.5px;
  overflow-x: auto;
}

.impact-label {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 68px;
  padding: 5px 5px;
  border-radius: 4px;
  background: hsla(210, 11%, 96%, 1);
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.10395822674036026px;
  text-align: center;
  color: hsla(207, 16%, 27%, 1);
}

.impact-container {
  padding-left: 6px;
  height: 35px;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 5px;
  background: rgb(245, 246, 247);
  flex-wrap: nowrap;
  overflow-x: auto;
}

#impact-container-editor:hover {
  background-color: rgb(235, 236, 237);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.impact-item {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 3px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.10395822674036026px;
  text-align: center;
  color: #fff;
}

.cdk-drag-preview {
  box-sizing: border-box;
  z-index: 1000;
  position: relative;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.material-symbols-outlined {
  font-size: 20px;
}
.impact-name {
  color: #fff;
}

.drag-icon {
  font-size: 16px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.87);
  cursor: grab;
}

// Impact dropdown styles
.impact-dropdown {
  width: calc(100% - 85px);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
  background: rgba(245, 246, 247, 1);
  position: absolute;
  top: 205px;
  left: 77px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  z-index: 2;
  overflow: hidden;
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.impact-item-menu {
  padding: 0;
  background: transparent;
  &:hover {
    background-color: rgb(235, 236, 237);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.impact-name-menu {
  color: #fff;
  padding: 0 1em 0 1em;
  border-radius: 3px;
  margin-left: 1;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.10395822674036026px;
  text-align: center;
}

.new-input-impact {
  max-width: calc(100% - 10px);
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  &:focus {
    box-shadow: none;
  }
  &::placeholder {
    visibility: hidden;
  }
}

.dropdown-title {
  font-family: Inter;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

// New styles for the impact dropdown
.input-color-container {
  display: flex;
  align-items: center;
  position: relative;
}

.hidden-color-picker {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  margin-left: -22px;
}

.color-display {
  margin-left: 0.7em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(0, 90, 160, 0.3);
  cursor: pointer;
  background-color: #ffffff;
}

.cdk-drag-preview {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 3px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.10395822674036026px;
  text-align: center;
  color: #fff;
}

.impact-content {
  display: flex;
  align-items: center;
}

.menu-icon {
  transform: rotate(90deg);
  right: 0;
  margin-left: auto;
  cursor: pointer;
}

.color-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
