<div 
  class="sprint" 
  cdkDropList
  [id]="sprint.id || 'defaultId'"
  [cdkDropListData]="{tickets: tickets, monthId: monthId}"
  (cdkDropListDropped)="drop($event)"
>
  <h3>{{ sprint.name }}</h3>
  <div class="tickets">
    <ng-container *ngFor="let ticket of tickets">
      <app-ticket [ticket]="ticket" cdkDrag [cdkDragDisabled]="!isEditorMode" [cdkDragData]="ticket" [isEditorMode]="isEditorMode"></app-ticket>
    </ng-container>
  </div>
  <div *ngIf="isEditorMode" class="create-ticket-button-container">
    <button mat-icon-button class="create-ticket-button" (click)="openTicketCreationDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
