<div 
  class="sprint" 
  cdkDropList
  [id]="sprint.id || 'defaultId'"
  [cdkDropListData]="{tickets: tickets, monthId: monthId}"
  (cdkDropListDropped)="drop($event)"
>
  <div class="sprint-header">
    <h3 *ngIf="!isRenamingSprint" (click)="startRenaming()">{{ sprint.name }}</h3>
    <input *ngIf="isRenamingSprint" [formControl]="sprintNameControl" (blur)="saveSprintName()" matInput>
    <button (click)="toggleSprintCollapse()">
      <mat-icon>{{ isSprintCollapsed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
    </button>
  </div>
  <div class="tickets" [@collapseExpand]="isSprintCollapsed ? 'collapsed' : 'expanded'">
    <p class="tickets__paragraph">User facing changes:</p>
    <ng-container *ngFor="let ticket of tickets">
      <app-ticket [ticket]="ticket" cdkDrag [cdkDragDisabled]="!isEditorMode" [cdkDragData]="ticket" [isEditorMode]="isEditorMode" [sprintId]="sprint.id" [boardId]="boardId" [monthId]="monthId"></app-ticket>
    </ng-container>
  </div>
  <div *ngIf="isEditorMode && !isSprintCollapsed" class="create-ticket-button-container">
    <button mat-icon-button class="create-ticket-button" (click)="openTicketCreationDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
