.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.loading {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-grow: 1;
  padding: 1rem 2.5rem 1rem 2.5rem;
  background-color: rgba(47, 128, 237, 0.1);

}

.content-header {
  display: flex;
  text-align: center;
  margin-top: 58px;
  color: rgba(55, 63, 65, 1);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(32px, 2.15vw, 40px);
  line-height: 44px;
  color: #373f41;
}

.content-body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.add-button {
  position: relative;
  top: -8px;
  right: 62px;

  mat-icon {
    color: #4388dd;
  }
}

.title-line {
  height: 5px;
  margin-top: 10px;
  background: linear-gradient(270deg, #ff4581 -0.22%, #4388dd 99.78%);
}

.editor-view-button {
  width: 130px;
  height: 35px;
  background: #ecf3fc;
  border: 1px solid #ff4581;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(11px, 1.2vw, 14px);
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4581;
  text-transform: none;
  margin-left: 20px;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;

  &:hover {
    background: #f9e2f0;
    border-color: #ff6b95;
    color: #ff6b95;
  }

  &:active {
    background: #f7d1e8;
    border-color: #ff2d6f;
    color: #ff2d6f;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(255, 69, 129, 0.5);
  }
}

.container-lines {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
}

.lines {
  opacity: 0.5;

  .line-1,
  .line-2 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .line {
      width: 2px;
      height: 18px;
      opacity: 0.5;
    }

    .line-text {
      margin-left: 10px;
    }
  }

  .line-1 .line {
    border-left: 3px solid #ff4581;
  }

  .line-2 .line {
    border-left: 3px dashed #ff4581;
  }
}

.month-point-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.month-point {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ff4581;
  z-index: 1;
  transition: background-color 0.3s;
}

.shadow-circle {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(255, 69, 129, 0.1);
  z-index: 0;
}

.publish-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.timeline-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  height: 50px;
  width: 100%;
}

.timeline-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: rgba(47, 128, 237, 0.1);
  z-index: 0;
}

.newsletter-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 0.25rem 0.5rem;

  background: #ecf3fc;

  border: 1px solid #4388dd;
  box-shadow: 0px 4px 180px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  margin: auto;
  margin-top: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

form .newsletter-input {
  padding: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 21px;
  width: 370px;
  color: #415162;

  box-sizing: border-box;
  border: none;
  background: none;
  outline: transparent;
}

form .newsletter-button {
  margin-left: 0.5rem;
  box-sizing: border-box;
  background: #4388dd !important;
  border: 1px solid #d2e1f5;
  border-radius: 3px;

  width: 102px;
  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #3673ac !important;
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

@media (max-width: 1100px) {
  .header-left {
    flex-direction: column;
    align-items: flex-start; 
  }
  .header-buttons {
    flex-direction: row;
    align-items: flex-start; 
    margin-top: 10px;

  }
}