.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle-loader {
    transform-origin: center;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  