:host {
width: 100%;
}

.loading {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  height: 450px;
  display: flex;
  .nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);

    &.hidden {
      visibility: hidden;
    }
  }

  .nav-button-left {
    margin-right: .15rem;
    margin-top: -6.5px;
  }

  .nav-button-right {
    margin-left: 1rem;
    margin-top: -8px;
  }

  .carousel-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
  }
}
