<div class="dialog-container">
  <app-circle-loader class="loading" *ngIf="loading"></app-circle-loader>
  <mat-dialog-content *ngIf="!loading">
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <mat-form-field appearance="outline">
          <input matInput formControlName="title" placeholder="Issue title" cdkFocusInitial />
          <mat-error *ngIf="ticketForm.controls['title'].hasError('required') && ticketForm.controls['title'].touched">
            Issue title is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="description" placeholder="Add description..." maxlength="280" style="min-height: 101px; resize: none;"></textarea>
          <mat-hint align="end">{{ ticketForm.controls['description'].value?.length || 0 }}/280</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <div class="toggle-priority">
          <label class="switch">
            <input type="checkbox" formControlName="priority" />
            <span class="slider round"></span>
          </label>
          <span *ngIf="ticketForm.controls['priority'].value; else notImportant">This item is a <strong>must have</strong></span>
          <ng-template #notImportant>
            <span>This item is a <strong>must have</strong></span>
          </ng-template>
        </div>
      </div>

      <ng-container *ngIf="isEditorMode; else linkView">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <input matInput formControlName="link" placeholder="Paste a link" />
            <mat-icon matPrefix>link</mat-icon>
            <mat-error *ngIf="ticketForm.controls['link'].hasError('url') && ticketForm.controls['link'].touched">
              Invalid URL
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-template #linkView>
        <div class="form-group link-readonly">
            <mat-icon matPrefix>link</mat-icon>
            <mat-label>
              <a [href]="ticketForm.controls['link'].value" target="_blank">Link to additional information</a>
            </mat-label>
        </div>
      </ng-template>

      
      <div class="save-button">
        <app-custom-button
          *ngIf="isEditorMode"
          type="submit"
          [width]="277"
          [height]="44"
          [disabled]="ticketForm.invalid || loading || !isEditorMode"
        >
          Save
        </app-custom-button>

        
      </div>
    </form>
    <button 
      mat-icon-button 
      class="delete-button" 
      *ngIf="isEditorMode" 
      (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-content>
</div>
